div.block_fhl_evasys2 {
	
	}
	
div.block_fhl_evasys2 .introduction {
	width:100%;
	text-align:center;
	}
div.block_fhl_evasys2 .evaluationlink {
	width:100%;
	text-align:center;
	}
div.block_fhl_evasys2 .description {
	width:100%;
	text-align:center;
	}			